@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Noto+Sans+TC:wght@300&display=swap');

@media screen and ( min-width : 801px ) {

  .about-body {
    box-shadow: 0 5px 15px rgb(0, 0, 0);
    margin: 4vh 0 4vh 0;
    padding: 2vw;
    width: 80vw;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .about-body h2 {
    font-family: 'Allison', cursive;
    font-size: 4vw;
    margin-top: 0;
    color: rgb(0, 179, 211);
    text-shadow: 2px 0 5px rgba(255, 255, 255, 0.1) , -2px 0 5px rgba(255, 255, 255, 0.1) , 0 2px 5px rgba(255, 255, 255, 0.1) , 0
      -2px 5px rgba(255, 255, 255, 0.1) , 1px 1px 5px rgba(255, 255, 255, 0.1) , -1px -1px 5px rgba(255, 255, 255, 0.1) , 1px -1px 5px rgba(255, 255, 255, 0.1) , -1px
      1px 5px rgba(255, 255, 255, 0.1);
  }

  .about-me {
    color: #ffffff;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0 20px 20px 20px;
    font-size: 25px;
  }

  .my-skills {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 20px;
    width: 70%;
  }

  .list-skills {
    display:grid;
  }  

  #js {
    background-color: rgba(255, 255, 255);
    color: #050517;
    border-radius: 35px 0 100px 0;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    width: 90%;
    box-shadow: 5px 1px 5px white;
  }

  #html {
    background-color: rgba(255, 255, 255);
    color: #050517;
    border-radius: 35px 0 100px 0;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    width: 75%;
    box-shadow: 5px 1px 5px white;
  }

  #react {
    background-color: rgba(255, 255, 255);
    color: #050517;
    border-radius: 35px 0 100px 0;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 85%;
  }

  #redux {
    background-color: rgba(255, 255, 255);
    color: #050517;
    border-radius: 35px 0 100px 0;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 65%;
  }

  #css {
    background-color: rgba(255, 255, 255);
    color: #050517;
    border-radius: 35px 0 100px 0;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 58%;
  }

  #hooks {
    background-color: rgba(255, 255, 255);
    color: #050517;
    border-radius: 35px 0 100px 0;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 65%;
  }

  #bootstrap {
    background-color: rgba(255, 255, 255);
    color: #050517;
    border-radius: 35px 0 100px 0;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 26%;
  }

  #git {
    background-color: rgba(255, 255, 255);
    color: #050517;
    border-radius: 35px 0 100px 0;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 40%;
  }

  #scrun {
    background-color: rgba(255, 255, 255);
    color: #050517;
    border-radius: 35px 0 100px 0;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 40%;
  }

  #kanban{
    background-color: rgba(255, 255, 255);
    color: #050517;
    border-radius: 35px 0 100px 0;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 40%;
  }

  .animationJS {
    animation: fadeJs 1.5s linear;
  }

  @keyframes fadeJs {
    0% {
      width: 25%;
      opacity: 0;
      filter: drop-shadow(0 0 0px #D77A5B);
      transform: translate3d(12px, 50%, 3em);
    }
    100% {
      width: 90%;
      opacity: 1;
      box-shadow: 5px 1px 5px white;
    }
  }

  .animationHtml {
    animation: fadeHtml 1.5s linear;
  }

  @keyframes fadeHtml {
    0% {
      width: 15%;
      opacity: 0;
      filter: drop-shadow(0 0 0px #D77A5B);
      transform: translate3d(12px, 50%, 3em);
    }
    100% {
      opacity: 1;
      box-shadow: 5px 1px 5px white;
      width: 75%;
    }
  }

  .animationReact {
    animation: fadeReact 1.5s linear;
  }

  @keyframes fadeReact {
    0% {
      width: 15%;
      opacity: 0;
      filter: drop-shadow(0 0 0px #D77A5B);
      transform: translate3d(12px, 50%, 3em);
    }
    100% {
      opacity: 1;
      box-shadow: 5px 1px 5px white;
      width: 85%;
    }
  }

  .animationHooks {
    animation: fadeHooks 1.5s linear;
  }

  @keyframes fadeHooks {
    0% {
      width: 15%;
      opacity: 0;
      filter: drop-shadow(0 0 0px #D77A5B);
      transform: translate3d(12px, 50%, 3em);
    }
    100% {
      opacity: 1;
      box-shadow: 5px 1px 5px white;
      width: 65%;
    }
  }

  .animationCss {
    animation: fadeCss 1.5s linear;
  }

  @keyframes fadeCss {
    0% {
      width: 15%;
      opacity: 0;
      filter: drop-shadow(0 0 0px #D77A5B);
      transform: translate3d(12px, 50%, 3em);
    }
    100% {
      opacity: 1;
      box-shadow: 5px 1px 5px white;
      width: 58%;
    }
  }

  .animationRedux {
    animation: fadeRedux 1.5s linear;
  }

  @keyframes fadeRedux {
    0% {
      width: 15%;
      opacity: 0;
      filter: drop-shadow(0 0 0px #D77A5B);
      transform: translate3d(12px, 50%, 3em);
    }
    100% {
      opacity: 1;
      box-shadow: 5px 1px 5px white;
      width: 65%;
    }
  }

  .animationBoots {
    animation: fadeBoots 1.5s linear;
  }

  @keyframes fadeBoots {
    0% {
      width: 15%;
      opacity: 0;
      filter: drop-shadow(0 0 0px #D77A5B);
      transform: translate3d(12px, 50%, 3em);
    }
    100% {
      opacity: 1;
      box-shadow: 5px 1px 5px white;
      width: 26%;
    }
  }

  .animationGit {
    animation: fadeGit 1.5s linear;
  }

  @keyframes fadeGit {
    0% {
      width: 15%;
      opacity: 0;
      filter: drop-shadow(0 0 0px #D77A5B);
      transform: translate3d(12px, 50%, 3em);
    }
    100% {
      opacity: 1;
      box-shadow: 5px 1px 5px white;
      width: 40%;
    }
  }

  /* a {
    text-decoration: none;
    color: inherit;
  } */

  .cto {
    position: relative;
    color: #ffffff;
    margin: 20px;
    padding: 19px 22px;
    transition: all 0.2s ease;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
  }
  .cto:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgb(0, 179, 211);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
  .cto span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .cto svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .cto:hover:before {
    width: 100%;
    background: rgb(0, 179, 211);
  }
  .cto:hover svg {
    transform: translateX(0);
  }
  .cto:active {
    transform: scale(0.96);
  }
}

@media screen and ( max-width : 800px ) {

  .about-body {
    color: aliceblue;
    display: flex;
    flex-direction: column;
  }
  
  .about-body h2 {
    font-family: 'Allison', cursive;
    font-size: xxx-large;
    margin-top: 0;
    margin-bottom: 2vh;
    color: rgb(0, 179, 211);
    text-shadow: 2px 0 5px rgba(255, 255, 255, 0.1) , -2px 0 5px rgba(255, 255, 255, 0.1) , 0 2px 5px rgba(255, 255, 255, 0.1) , 0
      -2px 5px rgba(255, 255, 255, 0.1) , 1px 1px 5px rgba(255, 255, 255, 0.1) , -1px -1px 5px rgba(255, 255, 255, 0.1) , 1px -1px 5px rgba(255, 255, 255, 0.1) , -1px
      1px 5px rgba(255, 255, 255, 0.1);
  }
  
  .about-me {
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0 20px 20px 20px;
  }
  
  .my-skills {
    color: #D77A5B;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 5px 10px
  }
  
  .list-skills {
    display:grid;
    margin: 5px 10px 20px 10px
  }  
  
  #js {
    background-color: rgba(255, 255, 255);
    color: black;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    width: 90%;
    box-shadow: 5px 1px 5px white;
    border-radius: 35px 0 100px 0;
  }
  
  #html {
    background-color: rgba(255, 255, 255);
    color: black;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    width: 75%;
    box-shadow: 5px 1px 5px white;
    border-radius: 35px 0 100px 0;
  }
  
  #react {
    background-color: rgba(255, 255, 255);
    color: black;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 85%;
    border-radius: 35px 0 100px 0;
  }
  
  #redux {
    background-color: rgba(255, 255, 255);
    color: #050517;
    border-radius: 35px 0 100px 0;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 65%;
  }
  
  #css {
    background-color: rgba(255, 255, 255);
    color: black;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 58%;
    border-radius: 35px 0 100px 0;
  }
  
  #hooks {
    background-color: rgba(255, 255, 255);
    color: black;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 65%;
    border-radius: 35px 0 100px 0;
  }
  
  #bootstrap {
    background-color: rgba(255, 255, 255);
    color: black;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 26%;
    border-radius: 35px 0 100px 0;
  }
  
  #git {
    background-color: rgba(255, 255, 255);
    color: black;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 40%;
    border-radius: 35px 0 100px 0;
  }
  
  #scrun {
    background-color: rgba(255, 255, 255);
    color: black;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 40%;
    border-radius: 35px 0 100px 0;
  }
  
  #kanban{
    background-color: rgba(255, 255, 255);
    color: black;
    padding: 0px 0px 3px 8px;
    margin: 3px;
    box-shadow: 5px 1px 5px white;
    width: 40%;
    border-radius: 35px 0 100px 0;
  }

  .cto {
    position: relative;
    color: #ffffff;
    margin: 20px;
    padding: 19px 22px;
    /* transition: all 0.2s ease; */
    background-color: transparent;
    border: transparent;
    cursor: pointer;
  }
  .cto:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgb(0, 179, 211);
    width: 100%;
    height: 56px;
    transition: all 0.3s ease;
  }
  .cto span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .cto svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
}