@media screen and ( max-width : 800px ) {

  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    box-sizing: border-box;
  }
  
  .box {
    background-color: rgba(255, 123, 0, 0.8);
    border: solid white 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vw;
    box-shadow: 0 5px 15px black;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: transform 0.25s;
  }
  
  
  .box img {
    width: 80vw;
    transition: transform 0.25s;
  }
  
  .box span {
    color: white;
    font-family: cursive;
    letter-spacing: 2px;
    text-shadow: 2px 0 5px black , -2px 0 5px black , 0 2px 5px black , 0
      -2px 5px black , 1px 1px 5px black , -1px -1px 5px black , 1px -1px 5px black , -1px
      1px 5px black;
    margin: 1vh 0 1vh 0;
    transition: transform 0.25s;
  }
  
  .box span {
    transform: scale(1.5);
  }
  
  .box1 {
    background-color: rgba(255, 123, 0, 0.8);
    border: solid white 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vw;
    box-shadow: 0 5px 15px black;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: transform 0.25s;
  }

  
  .box1 img {
    width: 80vw;
    transition: transform 0.25s;
  }
  
  .box1 span {
    color: white;
    font-family: cursive;
    letter-spacing: 2px;
    text-shadow: 2px 0 5px black , -2px 0 5px black , 0 2px 5px black , 0
      -2px 5px black , 1px 1px 5px black , -1px -1px 5px black , 1px -1px 5px black , -1px
      1px 5px black;
    margin: 1vh 0 1vh 0;
    transition: transform 0.25s;
  }
  
  .box1 span {
    transform: scale(1.5);
  }

  a {
    text-decoration: none;
  }
}

@media screen and ( min-width : 801px ) {

  a {
    text-decoration: none;
  }
  
  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    box-sizing: border-box;
  }
  
  .box {
    background-color: rgba(255, 123, 0, 0.8);
    border: solid white 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vw;
    box-shadow: 0 5px 15px black;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: transform 0.25s;
  }
  
  .box:hover {
    transform: translate(10vw, 10vh);
  }
  
  .box img {
    width: 43vw;
    transition: transform 0.25s;
  }
  
  .box img:hover {
    transform: scale(1.2);
    border: solid white 1px;
    border-radius: 5px 5px 0 0;
  }
  
  .box span {
    color: white;
    font-family: cursive;
    letter-spacing: 2px;
    text-shadow: 2px 0 5px black , -2px 0 5px black , 0 2px 5px black , 0
      -2px 5px black , 1px 1px 5px black , -1px -1px 5px black , 1px -1px 5px black , -1px
      1px 5px black;
    margin: 1vh 0 1vh 0;
    transition: transform 0.25s;
  }
  
  .box span {
    transform: scale(1.5);
  }
  
  .box1 {
    background-color: rgba(255, 123, 0, 0.8);
    border: solid white 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vw;
    box-shadow: 0 5px 15px black;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: transform 0.25s;
  }
  
  .box1:hover {
    transform: translate(-10vw, 10vh);
  }
  
  .box1 img {
    width: 43vw;
    transition: transform 0.25s;
  }
  
  .box1 img:hover {
    transform: scale(1.2);
    border: solid white 1px;
    border-radius: 5px 5px 0 0;
  }
  
  .box1 span {
    color: white;
    font-family: cursive;
    letter-spacing: 2px;
    text-shadow: 2px 0 5px black , -2px 0 5px black , 0 2px 5px black , 0
      -2px 5px black , 1px 1px 5px black , -1px -1px 5px black , 1px -1px 5px black , -1px
      1px 5px black;
    margin: 1vh 0 1vh 0;
    transition: transform 0.25s;
  }
  
  .box1 span {
    transform: scale(1.5);
  }

  .box2 {
    background-color: rgba(255, 123, 0, 0.8);
    border: solid white 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vw;
    box-shadow: 0 5px 15px black;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: transform 0.25s;
  }
  
  .box2 img {
    width: 43vw;
    transition: transform 0.25s;
  }
  
  .box2 img:hover {
    transform: scale(1.2);
    border: solid white 1px;
    border-radius: 5px 5px 0 0;
  }
  
  .box2 span {
    color: white;
    font-family: cursive;
    letter-spacing: 2px;
    text-shadow: 2px 0 5px black , -2px 0 5px black , 0 2px 5px black , 0
      -2px 5px black , 1px 1px 5px black , -1px -1px 5px black , 1px -1px 5px black , -1px
      1px 5px black;
    margin: 1vh 0 1vh 0;
    transition: transform 0.25s;
  }
  
  .box2 span {
    transform: scale(1.5);
  }

}
